<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Информационные данные</title>
    <link rel="stylesheet" th:href="@{~/css/style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>
<body>
<div class="personal">
    <div th:insert="object_tools :: back_button"></div><!-- Подключаем меню !-->
    <div th:insert="object_tools :: left_menu"></div><!-- Подключаем меню !-->
    <div class="object__data">
        <div class="upper__all">
            <div><h1>Информационные данные</h1></div>
        </div>
        <div class="wrapper_button__data">
            <form th:action="@{__${#httpServletRequest.requestURI}__/AdresIs?getAdresIs}" method="GET">
                <input class="buttonDataIS"  type="submit" name="getAdresIs" value="Адрес инфомационной системы">
            </form>
            <form th:action="@{__${#httpServletRequest.requestURI}__/Place?getPlace}" method="GET">
                <input  th:attr="class=${haveAdresIs ? 'buttonDataIS' : 'buttonDataIS disable'}" th:disabled="${!haveAdresIs}" type="submit" name="getPlace" value="Места обработки данных">
            </form>
            <form th:action="@{__${#httpServletRequest.requestURI}__/WorkStation?getWorkStation}" method="GET">
                <input  th:attr="class=${havePlace ? 'buttonDataIS' : 'buttonDataIS disable'}" th:disabled="${!havePlace}" type="submit" name="getWorkStation" value="Рабочие станции">
            </form>
            <form th:action="@{__${#httpServletRequest.requestURI}__/ServerRack?getRack}" method="GET">
                <input  th:attr="class=${havePlace ? 'buttonDataIS' : 'buttonDataIS disable'}" th:disabled="${!havePlace}" type="submit" name="getRack" value="Серверные стойки">
            </form>
            <form th:action="@{__${#httpServletRequest.requestURI}__/ServerDevices?getDevices}" method="GET">
                <input  th:attr="class=${haveServerRack ? 'buttonDataIS' : 'buttonDataIS disable'}" th:disabled="${!haveServerRack}" type="submit" name="getDevices" value="Оборудование в стойках">
            </form>
        </div>
    </div>
</div>
<script>
    $('#btn-tooltip').tooltip();
</script>

</body>
</html>