<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="getPlace">
    <div class="container-fluid" style="padding:10px;" >
        <div class="row" style="margin-top:8px;">
            <div th:each="num: ${PlacePd}" class="col-lg-3 col-md-4 col-sm-4 col-xs-6 border border-light rounded-right otv_face_hover_add" style="padding:5px;">
                <form  th:action="@{?sendPlace}" method="post" th:object="${placeObrabotPD}">
                    <input  name="id" type="hidden" th:value="${num.id}">
                    <input  name="infsysid" type="hidden" th:value="${infSystemChange.id}">
                    <label>Номер помещения</label>
                    <input name="place"  type="text" th:value="${num.place}"  class="form-control"  placeholder="Введите номер помещения" required>
                    <label>Этаж</label>
                    <input name="floor"   type="text" th:value="${num.floor}"  class="form-control"  placeholder="Введите этаж" required>
                    <label>Адрес места нахождения</label>
                    <input name="adres"   type="text" th:value="${num.adres}"  class="form-control" placeholder="Введите адрес" required>
                    <div class="row" style="margin-top:8px;">
                        <div th:insert="sendbutton :: buttonchange(${num})"></div>
                        <div th:insert="sendbutton :: buttondel(${num},'ответсвенного')"></div>
                    </div>
                </form>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 border border-light rounded-right otv_face_hover_add" style="padding:5px;">
                <form th:action="@{?sendPlace}" method="post" th:object="${placeObrabotPD}">
                    <input  name="infsysid" th:value="${infSystemChange.id}"     type="hidden" >
                    <label>Номер помещения</label>
                    <input name="place"  type="text" class="form-control" id="exampleNameOtv" aria-describedby="NameOtv" placeholder="Введите номер помещения" required>
                    <label>Этаж</label>
                    <input name="floor"   type="text"  class="form-control" id="exampleFamilyOtv" aria-describedby="FamilyOtv" placeholder="Введите этаж" required>
                    <label>Адрес места нахождения</label>
                    <input name="adres"   type="text"   class="form-control" id="exampleOtchOtv" aria-describedby="OtchOtv" placeholder="Введите адрес" required>

                    <div class="row" style="margin-top:8px;">
                        <div th:insert="sendbutton :: buttonsave('помещение обработки персональных данных')"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>