<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="InfSys">
<div  th:each ="num: ${listinfsystem}"  th:if="${operatorChange.id == num.operatorid && listinfsystem !=null}" class="container-fluid border border-info rounded" style="padding:10px;" >
    <form th:action="@{?sendInfSystem}" method="post" th:object="${informationSystem}" >
        <div class="row">
            <div class="col-3">
                <input name="id"  th:value="${num.id}" type="hidden" />
                <input name="operatorid"  th:value="${operatorChange.id}" type="hidden" />
                <label>Наименование информационной системы</label>
                <input  name="fullName" type="text" th:value="${num.fullName}" class="form-control" placeholder="Введите наименование информационной системы">
                <h5>Состав информационной системы</h5>
                <label>Физический сервер</label>
                <input name="countPhysicalServer"  type="text"  th:value="${num.countPhysicalServer}"   class="form-control" placeholder="Количество">
                <label>Хост виртуализации</label>
                <input name="countHostVirtualization" type="text" th:value="${num.countHostVirtualization}"  class="form-control" placeholder="Количество">
                <label>Виртуальный сервер</label>
                <input name="countVirtualServer" type="text" th:value="${num.countVirtualServer}"  class="form-control" placeholder="Количество">
                <label>Система хранения данных</label>
                <input name="countSystemSaveData" type="text" th:value="${num.countSystemSaveData}"  class="form-control" placeholder="Количество">
            </div>
            <div class="col-3">
                <label>Сокращенное наименование </label>
                <input name="shortName"  type="text" th:value="${num.shortName}" class="form-control" placeholder="Введите сокращенное наименование информационной системы">
                <h5>&nbsp;</h5>
                <label>Рабочая станция</label>
                <input name="countWorkStation"  type="text" class="form-control" th:value="${num.countWorkStation}" placeholder="Количество">
                <label>Ноутбук</label>
                <input name="countLaptop"  type="text" class="form-control" th:value="${num.countLaptop}" placeholder="Количество">
                <label>Моноблок</label>
                <input name="countMonoblock"  type="text" class="form-control" th:value="${num.countMonoblock}" placeholder="Количество">
                <label>Планшет</label>
                <input name="countTablet"  type="text" class="form-control" th:value="${num.countTablet}" placeholder="Количество">
            </div>
            <div class="col-3">
                <label>Дата ввода в эксплуатацию</label>
                <input name="date" type="date" th:value="${num.date}"  class="form-control" placeholder="Введите сокращенное наименование информационной системы">
            </div>
        </div>
        <div class="row" style="margin-top:8px;">
            <div th:insert="sendbutton :: buttonchange(${num})"></div>
            <div th:insert="sendbutton :: buttondel(${num},'информационную систему')"></div>
        </div>
    </form>
</div>


<div  class="container-fluid border border-info rounded" style="padding:10px;" >
    <form th:action="@{?sendInfSystem}" method="post" th:object="${informationSystem}" >
        <div class="row">
            <div class="col-3">
                <input name="operatorid"  th:value="${operatorChange.id}"  type="hidden" />
                <label>Наименование информационной системы</label>
                <input  name="fullName" type="text"  class="form-control" placeholder="Введите наименование информационной системы">
                <h5>Состав информационной системы</h5>
                <label>Физический сервер</label>
                <input name="countPhysicalServer"  type="text"   class="form-control" placeholder="Количество">
                <label>Хост виртуализации</label>
                <input name="countHostVirtualization" type="text"   class="form-control" placeholder="Количество">
                <label>Виртуальный сервер</label>
                <input name="countVirtualServer" type="text"   class="form-control" placeholder="Количество">
                <label>Система хранения данных</label>
                <input name="countSystemSaveData" type="text"  class="form-control" placeholder="Количество">

            </div>

            <div class="col-3">
                <label>Сокращенное наименование </label>
                <input name="shortName"  type="text"  class="form-control" placeholder="Введите сокращенное наименование информационной системы">
                <h5>&nbsp;</h5>
                <label>Рабочая станция</label>
                <input name="countWorkStation"  type="text" class="form-control"  placeholder="Количество">
                <label>Ноутбук</label>
                <input name="countLaptop"  type="text" class="form-control" placeholder="Количество">
                <label>Моноблок</label>
                <input name="countMonoblock"  type="text" class="form-control"  placeholder="Количество">
                <label>Планшет</label>
                <input name="countTablet"  type="text" class="form-control"  placeholder="Количество">
            </div>
            <div class="col-3">
                <label>Дата ввода в эксплуатацию</label>
                <input name="date" type="date"   class="form-control" placeholder="Введите сокращенное наименование информационной системы">
            </div>
        </div>
        <div class="row" style="margin-top:8px;">
            <div th:insert="sendbutton :: buttonsave('информационную систему')"></div>
            <button type="button"  name="clean" class="btn btn-warning btn-sub-margin" >Очистить</button>
        </div>
    </form>
</div>
</div>
</body>
</html>