<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Рабочие станции</title>
    <link rel="stylesheet" th:href="@{~/css/style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
<div th:insert="object_tools :: back_button"></div><!-- Подключаем меню !-->
<div th:insert="object_tools :: left_menu"></div><!-- Подключаем меню !-->
<div class="object__data">
    <div class="upper__all">
        <div><h1 style="">Рабочие станции</h1></div>
    </div>
    <div style="max-width: 1500px;
    min-width: 1400px;" class="card_wrapper">
     <div  th:if="${workstations != null}" th:each="num : ${workstations}" style="width:686px;" class="card_form" >
        <h1>Рабочая станция</h1>
        <form th:action="@{#httpServletRequest.requestURI}" method="post">
            <input name="idworkstation" th:value="${num.workStation.id}" type="hidden">
          <div style="position: relative;" th:attr="class='select_input '+${num.workStation.id}">
              <div th:each="device : ${num.externaldevice}" class='workstation_input' th:attr="id='blck'+${num.workStation.id}+'_'+${device.id}">
                <div class='card_form__input'>
                    <input type="hidden" name="deviceid" th:value="${device.id}">
                    <input type='hidden' name='typeextuse' th:value="${device.name}">
                    <label th:text="'Модель '+${device.name}"></label>
                    <input th:value="${device.model}" name='modelnumuse' type='text'>
                  </div>
                <div class='card_form__input'>
                      <label th:text="'Серийный номер '+${device.name}"></label>
                      <input th:value="${device.serialNumber}" name='serialnumuse' type='text'>
                </div>
                  <div th:onclick="'delalreadyselect('+${num.workStation.id}+','+${device.id}+')'" class='del_select'>
                 <span>X</span>
                  </div>
              </div>
          </div>
            <div style="margin: 0 auto;width: 50%;" class="select_input_div">
                <label>Добавить устройство</label>
                <select id="select_u" th:onchange="'selectchange(this.value,this,'+${num.workStation.id}+')'" class="select_input_all">
                    <option value="0">Добавить</option>
                    <option value="1">Системный блок</option>
                    <option value="2">Клавиатура</option>
                    <option value="3">Компьютерная мышь</option>
                    <option value="4">Источник бесперебойного питания</option>
                    <option value="5">Принтер</option>
                    <option value="6">Сканер</option>
                    <option value="7">Монитор</option>
                    <option value="8">Колонка</option>
                    <option value="9">Моноблок</option>
                    <option value="10">Ноутбук</option>
                    <option value="11">Планшет</option>
                </select>
            </div>
            <div style="margin: 0 auto;width: 50%;" class="select_input_div">
                <label>Помещение</label>
                <select name="placeProccesingData" class="select_input_all">
                    <option  th:each="place: ${places}" th:text="${'Помещение '+place.place +', Этаж '+ place.floor}" th:value="${place.id}"   th:selected="(${place.id} == ${num.workStation.placeProccesingData.id})" ></option>
                </select>
            </div>
            <div style="margin-top:15px;"></div>
            <div class="card_form__submit_change">
                    <input th:formaction="@{__${#httpServletRequest.requestURI}__/?deleteWS}" class="change_delete" type="submit" name="deleteWS" value="Удалить">
                    <input  class="change_changer" type="submit" name="changeWS" value="Изменить">
            </div>
        </form>

    </div>
        <div style="width:686px;" class="card_form" >
            <h1>Рабочая станция</h1>
            <form th:action="@{#httpServletRequest.requestURI}" method="post">
                <div  style="position: relative;" class="select_input 0"></div>
                <div style="margin: 0 auto;width: 50%;" class="select_input_div">
                    <label>Добавить устройство</label>
                    <select id="select_u 0" onchange="selectchange(this.value,this,0)" class="select_input_all">
                        <option value="0">Добавить</option>
                        <option value="1">Системный блок</option>
                        <option value="2">Клавиатура</option>
                        <option value="3">Компьютерная мышь</option>
                        <option value="4">Источник бесперебойного питания</option>
                        <option value="5">Принтер</option>
                        <option value="6">Сканер</option>
                        <option value="7">Монитор</option>
                        <option value="8">Колонка</option>
                        <option value="9">Моноблок</option>
                        <option value="10">Ноутбук</option>
                        <option value="11">Планшет</option>
                    </select>
                </div>
                <div style="margin: 0 auto;width: 50%;" class="select_input_div">
                    <label>Помещение</label>
                    <select name="placeProccesingData" class="select_input_all">
                        <option  th:each="place: ${places}" th:text="${'Помещение '+place.place +', Этаж '+ place.floor}" th:value="${place.id}"  ></option>
                    </select>
                </div>
                <div style="width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;margin-top:15px;">
                    <input class="button_submit" type="submit" name="addWS" value="Добавить">
                </div>
        </form>
        </div>
    </div>
</div>
<script>
var count=0;
function selectchange(val,select,id)
{
select.selectedIndex=0;

var txtmodel= "";
var hidden ="";
        if(val!=0){
            switch(val){
            case '1':
                txtmodel="Системного блока";
                hidden="Системный блок";

                break;
            case '2':
                txtmodel="Клавиатуры";
                hidden="Клавиатура";

                break;
            case '3':
                txtmodel="Компьютерной мыши";
                hidden="Компьютерная мышь";

                break;
            case '4':
                txtmodel="ИБП";
                hidden="ИБП";

                break;
            case '5':
                txtmodel="Принтера";
                hidden="Принтер";

                break;

            case '6':
                txtmodel="Сканера";
                hidden="Сканер";

                break;

            case '7':
                txtmodel="Монитора";
                hidden="Монитор";

                break;
            case '8':
                txtmodel="Колонки";
                hidden="Колонка";
                break;
            case '9':
                txtmodel="Моноблока";
                hidden="Моноблок";
                break;
          case '10':
                txtmodel="Ноутбука";
                hidden="Ноутбук";
                break;
          case '11':
                txtmodel="Планшета";
                hidden="Планшет";
                break;

         }


            $("."+id).prepend("<div class='workstation_input' id=blck"+val+"_"+id+"_"+count+"><div></div><div class='card_form__input'><input type='hidden' name='typeext' value='"+hidden+"'><label>Модель "+ txtmodel+"</label><input  name='modelnum' type='text'></div><div class='card_form__input'><label>Серийный номер "+txtmodel+"</label><input name='serialnum' type='text'></div><div onclick=' delselect("+val+","+id+","+count+")' class='del_select'> <span>X</span></div></div>");
            count++;
        }

 };
 function delselect(val,id,count)
{
    $("#blck"+val+"_"+id+"_"+count).remove();
    count--;
};
 function delalreadyselect(val,id)
{
    $("#blck"+val+"_"+id).remove();
};




</script>
</body>
</html>