<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Getting Started: Handing Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
<div style="color:red;position:relative;background:#DC143C;top:0;left:0;width: 70px;height:100vh;float:left;" >
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-2 border-right" style="padding:0">
            <a style="width:100%"; class="a_main_button text-justify" href="?GetOperator">
                <div class="container-fluid  border-bottom  rounded-right hover_change_div" >Оператор персональных <br> данных</div>
            </a>
            <a style="width:100%"; class="a_main_button text-justify"  href="?GetOtvFace">
                <div class="container-fluid  border-bottom  rounded-right hover_change_div">Ответственные должностные лица</div>
            </a>
            <a style="width:100%"; class="a_main_button text-justify"  href="?GetInformationSystem">
                <div  class="container-fluid  border-bottom  rounded-right hover_change_div">Информационная система</div>
            </a>
            <a style="width:100%"; class="a_main_button text-justify"  href="?getAct">
                <div  class="container-fluid  border-bottom  rounded-right hover_change_div">Акт классификации</div>
            </a>
            <a style="width:100%"; class="a_main_button text-justify"  href="?bar1">
                <div  class="container-fluid  border-bottom  rounded-right hover_change_div">Пользователь информационной системы</div>
            </a>
        </div>

        <div class="col-6">
            <form action="?genDoc" method="post">
            <div th:insert="sendbutton :: buttonsave('сгенерировать документацию')"></div>
            </form>
        </div>

    </div>
</div>
</body>
</html>